body{
    background-color: #fcd549;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

#logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
}

.container {
  max-width: 1000px;     
  margin: 0 auto;        
  padding: 0 20px;        
  box-sizing: border-box;
}

.card-grid{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
}
@media(max-width:750px) {
    .card-grid {
        grid-template-columns: 1fr;
    }
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #FEF3E2;
    border-radius: 20px;
}

.image-cont{
    width: 100%;
    height: auto;
}
.image {
  width: 100%;
  height: auto;
  max-height: 200px; 
  object-fit: cover; 
  border-radius: 10px; 
}
.item-desc{
    text-align: left;
    padding-left: 10px;
}

.item-desc h2{
    color: #ff6600;
}

span{
     color: #FEF3E2;
     background-color: #ff0000;
     padding: 6px;
     margin-left: 6px;
     border-radius: 5px;
}



#copyright{
    margin-top: 200px;
    padding-top: 12px;
    font-size: 0.75em;
}